.delivery-info {
    
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    text-align: end;
    gap: 3rem;

    @include respond(phone) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .status {
        &--success { color: $success; }
        &--in-progress { color: $in-progress; }
        &--failure { color: $failure; }
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &>span:first-child {
            color: #ccc;
            font-weight: $semi-bold;
        }

        &>span:nth-child(2) {
            font-weight: $bold;
        }

        @include respond(phone) {
            align-items: center;
        }
    }
}